* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar-brand {
  font-size: 32px !important;
  font-weight: 700 !important;
}
nav {
  background-color: rgb(44, 62, 80);
  left: 0;
  right: 0;
  transition: all 0.4s;
  position: static !important;
  top: 0 !important;
  z-index: 77;
}
.selected {
  background-color: rgb(26, 188, 156) !important;
  transition: all 0.4s;
}
nav ul li {
  margin: 0 10px;
}
nav a {
  color: rgb(255, 255, 255) !important;
  padding: 2px 0px;
}
.nav-link {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600 !important;
  border-radius: 6px !important;
}
@media screen and (max-width: 400px) {
  .navbar-brand {
    font-size: 25px !important;
  }
}
